h1 {
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  margin: 0;
}

.date {
  font-family: "Roboto", Arial, sans-serif;
  color: #008080;
}

.post-content {
  font-family: "Open-Sans", Arial, sans-serif;
}

.post-container {
  background-color: #fffafa;
  width: 70%;
  margin: auto;
}

.post {
  padding-left: 20px;
}
